---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';

const publishedBlogEntries = await getCollection('blog', ({ data }) => {
  return data.draft !== true;
});
---

<BaseLayout title="Posts">
  <main class="">
    <div class="py-8">
      <h1 class="pb-1.5">Writing</h1>
    </div>

    <h2>Recents</h2>
    {
      publishedBlogEntries.map((item) => (
        <div class="space-y-3">
          <span class="text-xs mr-4">
            {item.data.publishDate
              .toLocaleDateString('en-in', {
                year: 'numeric',
                month: '2-digit',
                day: '2-digit',
              })
              .replaceAll('/', '-')}
          </span>
          <a href={`/blog/${item.slug}`}>{item.data.title}</a>{' '}
        </div>
      ))
    }
  </main>
</BaseLayout>
