---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Contact">
  <main class="">
    <div class="pb-8">
      <h1 class="pb-1.5">About Me</h1>
    </div>
  </main>
</BaseLayout>
