---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
---

<BaseLayout title="Contact">
  <Header />
  <main class="container">
    <h1 class="pb-1.5">Contact Me</h1>

    <p>Email me at <a href="mailto:dhrjarun@gmail.com">dhrjarun@gmail.com</a></p>
  </main>
</BaseLayout>
