---
import Page from '../components/Page.astro';
import PageHeading from '../components/PageHeading.astro';
import PageTitle from '../components/PageTitle.astro';
import ThreeColumnLayout from '../components/ThreeColumnLayout.astro';
---

<Page title="Contact">
  <ThreeColumnLayout>
    <main class="center">
      <PageHeading>
        <PageTitle>Contact</PageTitle>
      </PageHeading>

      <p>Email me at <a href="mailto:dhrjarun@gmail.com">dhrjarun@gmail.com</a></p>
    </main>
  </ThreeColumnLayout>
</Page>
