---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
---

<BaseLayout title="Contact">
  <main class="">
    <div class="py-8">
      <h1 class="pb-1.5">Contact Me</h1>
    </div>

    <p>Email me at <a href="mailto:dhrjarun@gmail.com">dhrjarun@gmail.com</a></p>
  </main>
</BaseLayout>
