---
import Layout from '../layouts/BaseLayout.astro';
// TODO
// find font
// improve shortcut design
// add TOC and 3-col-layout
// add footer
// add giscus
---

<Layout title="dhrjarun">
  <main class="">
    <div class="pb-8">
      <h1>dhrjarun</h1>
    </div>
    <p class="text-sm">
      Hey, thanks for visiting! I haven't finished this site yet. Till then you can checkout my <a
        href="/writing">blogs</a
      >
    </p>
  </main>
</Layout>
