---
import Layout from '../layouts/BaseLayout.astro';
// TODO
// find font
---

<Layout title="dhrjarun">
  <main class="">
    <div class="py-8">
      <h1>dhrjarun</h1>
    </div>
    <p class="text-sm">
      Hey, thanks for visiting! I haven't finished this site yet. Till then you can checkout my <a
        href="/blog">blogs</a
      >
    </p>
  </main>
</Layout>
