---
const items = [{ label: 'root', link: '/' }];
---

<div class="text-sm text-gray-400 dark:text-gray-400 mb-1">
  <a href="/">root</a> / <a href="/blog">blog</a>
  {items.map((i, index) => <a href="/">root</a>)}
</div>
