---
import Tooltip from './tooltip/tooltip.astro';
import ThemeToggler from './ThemeToggler.astro';
type Props = {
  title: string;
};

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="alternate icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} - dhrjarun</title>
  </head>
  <body>
    <div class="fixed bottom-4 right-4">
      <Tooltip label="Toggle Theme">
        <ThemeToggler class="bg-gray-200 dark:bg-gray-700 p-1.5 rounded-full" />
      </Tooltip>
    </div>
    <slot />
  </body>
</html>

<style is:global>
  :root {
  }

  @media (hover: none) {
    [role='tooltip'] {
      display: none;
    }
  }

  body {
    font-family: system-ui, sans-serif;
    @apply bg-white dark:bg-slate-800 text-slate-800 dark:text-white;
    @apply min-h-screen overflow-x-hidden;
  }

  a {
    @apply text-blue-500 dark:text-blue-300 hover:underline;
  }

  h1,
  h2,
  h3 {
    @apply font-bold text-gray-600 dark:text-gray-300;
  }
  h1 {
    @apply text-xl sm:text-2xl leading-tight;
  }

  h2 {
    @apply text-lg;
  }

  p {
    @apply p-0;
  }
</style>
