---
const links = [
  { label: 'Home', url: '/' },
  { label: 'Writing', url: '/writing' },
];

interface Props {
  activeURL: string;
}

const { activeURL } = Astro.props;
---

<header class="py-6">
  <nav>
    <ul class="flex items-center gap-2.5">
      {
        links.map(({ label, url }) => (
          <li class="block">
            <a
              data-active={url === activeURL ? 'true' : 'false'}
              href={url}
              class="rounded-md font-bold hover:no-underline px-2.5 py-1 bg-gray-200 data-[active=true]:bg-gray-600 text-gray-600 data-[active=true]:text-white dark:bg-gray-700 dark:data-[active=true]:bg-gray-200  dark:text-gray-300  dark:data-[active=true]:text-gray-700"
            >
              {label}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
