---
import clsx from 'clsx';
const links = [
  { label: 'Home', url: '/' },
  { label: 'Writing', url: '/writing' },
];

interface Props {
  activeURL: string;
  class?: string;
}

const { activeURL, class: className, ...rest } = Astro.props;
---

<header
  class={clsx('py-6', className)}
  {...rest}
  transition:name="primary-header"
  transition:animate="none"
>
  <nav>
    <ul class="flex items-center gap-2.5">
      {
        links.map(({ label, url }) => (
          <li class="block">
            <a
              data-active={url === activeURL ? 'true' : 'false'}
              href={url}
              class={clsx(
                'rounded-md font-bold hover:no-underline px-2.5 py-1 tracking-wide',
                'bg-gray-200 data-[active=true]:bg-blue-500 text-gray-600 data-[active=true]:text-white dark:bg-gray-700 dark:data-[active=true]:bg-blue-500  dark:text-gray-200 dark:data-[active=true]:text-white'
              )}
            >
              {label}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
