---
import ShortcutBar from '../components/ShortcutBar.astro';

type Props = {
  title: string;
};

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="alternate icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} - dhrjarun</title>
  </head>
  <body class="py-8">
    <ShortcutBar />
    <slot />
  </body>
</html>
<style is:global>
  :root {
  }
  body {
    font-family: system-ui, sans-serif;
    @apply min-h-screen bg-white dark:bg-slate-800 text-slate-800 dark:text-white;
  }

  main {
    @apply max-w-prose px-4 mx-auto;
  }

  a {
    @apply underline text-blue-500 dark:text-blue-300;
  }

  h1,
  h2,
  h3 {
    @apply font-bold text-gray-600 dark:text-gray-300;
  }
  h1 {
    @apply text-xl sm:text-2xl leading-tight;
  }

  h2 {
    @apply text-lg;
  }

  p {
    padding: 0px;
  }
  /* .main-container {
        @apply w-full md:max-w-[670px] lg:max-w-[970px] mx-auto px-4 xl:max-w-[1170px]
    } */
</style>

<script>
  import '../components/tooltip/tooltip.ts';
</script>
