---
import Page from '../../components/Page.astro';
import { getCollection } from 'astro:content';
import WritingContent from '../../components/WritingContent.astro';
import TableOfContents from '../../components/TableOfContent/TableOfContent.astro';
import Sidebar from '../../components/Sidebar.astro';
import ThreeColumnLayout from '../../components/ThreeColumnLayout.astro';
import PageHeading from '../../components/PageHeading.astro';
import PageTitle from '../../components/PageTitle.astro';

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const writingEntries = await getCollection('writing');
  return writingEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content, remarkPluginFrontmatter, headings } = await entry.render();
const { title, publishDate } = entry.data;
---

<Page title={title}>
  <ThreeColumnLayout>
    <main class="center">
      <PageHeading>
        <PageTitle>{title}</PageTitle>

        <div class="text-sm text-gray-400 dark:text-gray-400 flex space-x-3">
          <span
            >{
              publishDate.toLocaleDateString('en-us', {
                year: 'numeric',
                month: 'short',
                day: '2-digit',
              })
            }</span
          >
          <span>@dhrjarun</span>
          <span>{remarkPluginFrontmatter.minutesRead}</span>
        </div>
      </PageHeading>
      <WritingContent>
        <Content />
      </WritingContent>
    </main>
    <aside class="right">
      <Sidebar>
        <TableOfContents headings={headings} label="Table Of Content" />
      </Sidebar>
    </aside>
  </ThreeColumnLayout>

  <style is:global>
    .sidebar {
      @apply fixed top-20 pl-5;
    }
  </style>
</Page>
