---
import { getCollection } from 'astro:content';
import Page from '../../components/Page.astro';
import ThreeColumnLayout from '../../components/ThreeColumnLayout.astro';
import PageHeading from '../../components/PageHeading.astro';
import PageTitle from '../../components/PageTitle.astro';


const publishedBlogEntries = await getCollection('writing', ({ data }) => {
  return data.draft !== true;
});
---

<Page title="Posts">
  <ThreeColumnLayout >
    <div class="center">
      <PageHeading>
        <PageTitle>Writing</PageTitle>
      </PageHeading>

      <section class="space-y-2.5 sm:space-y-1">
        <h2 class="mb-3">Recents</h2>
        {
          publishedBlogEntries.map((item) => (
            <div class="flex items-baseline flex-col sm:flex-row">
              <p class="text-xs mr-4">
                {item.data.publishDate
                  .toLocaleDateString('en-in', {
                    year: 'numeric',
                    month: '2-digit',
                    day: '2-digit',
                  }).split('/').reverse().join('-')}
                {}
              </p>
              <a href={`/writing/${item.slug}`}>{item.data.title}</a>{' '}
            </div>
          ))
        }
      </section>
    </div>
  </ThreeColumnLayout>
</Page>
