---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';

const publishedBlogEntries = await getCollection('writing', ({ data }) => {
  return data.draft !== true;
});
---

<BaseLayout title="Posts">
  <main class="">
    <div class="pb-8">
      <h1 class="pb-1.5">Writing</h1>
    </div>

    <h2 class="mb-3">Recents</h2>
    <section class="space-y-2.5 sm:space-y-1">
      {
        publishedBlogEntries.map((item) => (
          <div class="flex items-baseline flex-col sm:flex-row">
            <p class="text-xs mr-4">
              {item.data.publishDate
                .toLocaleDateString('en-in', {
                  year: 'numeric',
                  month: '2-digit',
                  day: '2-digit',
                }).split('/').reverse().join('-')}
              {}
            </p>
            <a href={`/writing/${item.slug}`}>{item.data.title}</a>{' '}
          </div>
        ))
      }
    </section>
  </main>
</BaseLayout>
